/**
 * EngineerBetter extension of white theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Abel);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #1d71b8;
$headingColor: #1d71b8;

$mainFontSize: 38px;
$mainFont: 'Abel', Helvetica, sans-serif;
$headingFont: 'Abel', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

.highlight {
	color: #b81d71;
}

.reveal section img.plain {
		background: none;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

html.bookend div.slide-background.present {
	background-color: $headingColor;
	background-image: url("/images/clipped-16x9-fill-blue.svg");
	background-position: top-left, top-center;
	background-repeat: no-repeat;
	background-size: 95%;
}

.bookend * {
		color: #fff !important;
}

div.slide-background.present {
	background-color: #fff;
	background-image: url("/images/clipped-16x9-fill.svg");
	background-position: top-left, top-center;
	background-repeat: no-repeat;
	background-size: 95%;
}

html.clouds div.slide-background.present {
	background-image: url("/images/overlay.png"), url("/images/clouds.jpg");
	background-position: top-left, top-center;
	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
}

.logo-box {
	color: white;
}

div.logo-box {
	padding-top: 1em;
	padding-bottom: 1em;
}

div.logo-box h2, div.logo-box a {
	font-family: Lato;
	font-weight: normal;
	letter-spacing: 0.1em;
}

div.logo-box h2 {
	color: white;
}